<li>
    <a href="{{ attachment.file.url }}" class="btn-link text-secondary" data-toggle="modal" placeholder="Datei anzeigen"
       data-target="#attachment_{{ attachment.id }}_modal"><i class=
          {% if attachment.extension == 'jpg' or attachment.extension == 'png' %}
              "far fa-fw fa-image"
          {% elif attachment.extension == 'docx' %}
              "far fa-fw fa-file-word"
          {% elif attachment.extension == 'pdf' %}
              "far fa-fw fa-file-pdf"
          {% else %}
              "far fa-fw fa-file-alt"
          {% endif %}></i>{{ attachment.file.name }}
    </a>
    | <a placeholder="Datei herunterladen" href="{{ attachment.file.url }}" download><i class="fas fa-file-download"></i>
    </a>
    {% include '../modal/attachment_modal.html' %}
</li>